.img-fluid {
  background-position: center;
  background-size: cover;
  height: 225px;
}

.text-decoration {
  text-decoration: none;
  color: #000;
}

.card-title {
  font-size: 30px;
  color: #a949ff;
}

.details-group p {
  padding: 0;
  margin: 0;
}
